openapi: 3.2.0
info:
  title: Liquid Death Storefront Read-Only JSON Discovery API
  version: '2026-08-01'
  summary: The anonymous, read-only product and collection JSON surface Liquid Death publishes for AI agents.
  description: Liquid Death runs its direct-to-consumer store at https://liquiddeath.com on Shopify.
  contact:
    name: Liquid Death
    url: https://liquiddeath.com/pages/summon-us
  termsOfService: https://liquiddeath.com/policies/terms-of-service
  x-generated-by: api-evangelist enrichment pipeline
  x-source-documentation: https://liquiddeath.com/agents.md
  x-probed: '2026-08-01'
servers:
- url: https://liquiddeath.com
  description: Production storefront
tags:
- name: Discovery
  description: Store-level discovery documents for crawlers and agents
paths:
  /sitemap.xml:
    get:
      operationId: getSitemap
      tags:
      - Discovery
      summary: Get the sitemap index
      description: 'The sitemap index, linking per-locale product, collection, page and blog sitemaps, plus

        `sitemap_agentic_discovery.xml` which points crawlers at `/agents.md`.'
      responses:
        '200':
          description: A sitemaps.org sitemap index document.
          content:
            application/xml:
              schema:
                type: string
  /agents.md:
    get:
      operationId: getAgentInstructions
      tags:
      - Discovery
      summary: Get the agent instruction document
      description: 'The canonical agent-facing description of the store: UCP endpoints, supported UCP versions,

        the read-only browsing surface, the buyer-approval rule, and store policies. Mirrored verbatim

        at `/llms.txt`.'
      responses:
        '200':
          description: The agent instruction document in Markdown.
          content:
            text/markdown:
              schema:
                type: string
  /llms.txt:
    get:
      operationId: getLlmsTxt
      tags:
      - Discovery
      summary: Get the llms.txt document
      description: A mirror of `/agents.md` served at the llms.txt convention path.
      responses:
        '200':
          description: The llms.txt document.
          content:
            text/plain:
              schema:
                type: string
  /.well-known/ucp:
    get:
      operationId: getUcpProfile
      tags:
      - Discovery
      summary: Get the UCP merchant profile
      description: 'The Universal Commerce Protocol merchant discovery profile: supported protocol versions,

        service endpoints (including the MCP transport endpoint), negotiated capabilities, and the

        configured payment handlers. Anonymous.'
      responses:
        '200':
          description: The UCP merchant profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ucp:
                    type: object
